.form{
    display: flex;
    justify-content: center;
    padding: 20px;
}

input{
    width: 272px;
    height: 40px;
    margin-right: 10px;
    padding: 0 10px;
    font: 400 16px / 1.5 "Montserrat", sans-serif;
    letter-spacing: 0.04em;
    color: #808080;
    border: 1px solid #808080;
    border-radius: 4px;
}

input:hover{
    border: 1px solid #000;
    border-radius: 4px;
}

input:focus{
    border: 1px solid #4e75ff;
    border-radius: 4px;
    font: 400 16px / 1.5 "Montserrat", sans-serif;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: none;
}

button{
    border-radius: 8px;
    max-width: 75px;
    max-height: 40px;
    padding: 8px 16px;
    background: #4e75ff;
    border: none;
    font: 500 16px / 1.5 "Montserrat", sans-serif;
    letter-spacing: 0.04em;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

button:hover{
    background: #6c8cff;
    border: none;
}